<%= render partial: 'shared/email_address' %>
<%= render partial: 'shared/frequency_form' %>

<div data-controller="inbox" data-action="keyup@window->inbox#close">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 space-y-4">
    <% unless @newsletter_messages.any? %>
      <div class="flex items-center justify-center bg-gray-200 p-4 rounded-md text-gray-600">
        Start subscribing to newsletters to receive them in your inbox
      </div>
    <% end %>
    <% @newsletter_messages.each do |newsletter_message| %>
      <%= render partial: 'newsletter_message', locals: { newsletter_message: newsletter_message } %>
    <% end %>
  </div>
</div>
