<div class="hidden md:block">
  <div class="ml-10 flex items-baseline space-x-4">
    <% active_class_names = 'bg-orange-600 text-white hover:bg-orange-600/75' %>
    <% non_active_class_names = 'text-gray-600 hover:text-white hover:bg-orange-600' %>

    <% if user_signed_in? %>
      <%= link_to t(:inbox), inbox_index_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(inbox_index_path))} #{class_names(non_active_class_names => !current_page?(inbox_index_path))}" %>
      <%= link_to t(:newsletters), newsletter_subscriptions_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(newsletter_subscriptions_path))} #{class_names(non_active_class_names => !current_page?(newsletter_subscriptions_path))}" %>
    <% else %>
      <%= link_to 'The Best Email Newsletters', best_newsletters_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(best_newsletters_path))} #{class_names(non_active_class_names => !current_page?(best_newsletters_path))}" %>
      <%= link_to 'Blog', blog_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(blog_path))} #{class_names(non_active_class_names => !current_page?(blog_path))}" %>
    <% end %>
  </div>
</div>
