<div class="hidden md:block">
  <div class="ml-10 flex items-baseline space-x-4">
    <% active_class_names = 'bg-blue-650 text-gold-200 hover:bg-blue-550 hover:text-gold-200' %>
    <% non_active_class_names = 'text-blue-650 hover:bg-gold-200' %>

    <% if user_signed_in? %>
      <%= link_to t(:inbox), inbox_index_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(inbox_index_path))} #{class_names(non_active_class_names => !current_page?(inbox_index_path))}" %>
      <%= link_to t(:newsletters), newsletters_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(newsletters_path))} #{class_names(non_active_class_names => !current_page?(newsletters_path))}" %>
    <% else %>
      <%= link_to t(:pricing), pricing_path, class: "px-3 py-2 rounded-md #{class_names(active_class_names => current_page?(pricing_path))} #{class_names(non_active_class_names => !current_page?(pricing_path))}" %>
    <% end %>
  </div>
</div>
