<span data-controller="resizable">
  <%= form.select name, options_for_select(options, selected), {}, class: "cursor-pointer text-gold-600 hover:text-gold-500 appearance-none outline-none", data: { action: "change->resizable#resize change->frequency-form#updateForm", "resizable-target": "select", "frequency-form-target" => name } %>
</span>
