<%= content_for :title, 'Elon Musk newsletter' %>
<%= content_for :description, "Never miss any news about Elon Musk" %>

<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 prose">
  <h1>Elon Musk newsletter</h1>
  <p>
    Are you a fan of Elon Musk? If so, you're in luck! There is a way for you to never miss anything about the man himself again.
  </p>
  <p>
    In case you're not familiar, Elon Musk is a tech entrepreneur and visionary who's been making waves in the business world for years. He's the founder of companies like SpaceX, Tesla, and Neuralink, and he's known for his ambitious goals and innovative ideas.
  </p>

  <p>
    This newsletter is the perfect way to stay up-to-date on all things Elon Musk. We'll be covering everything from his latest projects and business ventures to his personal life and hobbies. Plus, we'll be sharing exclusive interviews and insights from people who know him best.
  </p>

  <p>
    Whether you're a die-hard fan or just curious about what makes Elon Musk tick, this newsletter is the perfect way to stay in the loop. So why not sign up today and join the conversation?
  </p>

  <a target="_blank" href="https://www.theverge.com/this-week-in-elon-musk-newsletter">Elon Musk Newsletter</a>
</div>

<div class="py-12 bg-gold-200">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
      <span class="block text-gray-600">Ready to create your mailpouch?</span>
      <span class="block text-blue-450">You’re just a click away!</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Start for Free!', new_user_registration_path, class: 'w-full flex items-center justify-center px-12 py-3 font-medium leading-6 rounded text-white bg-orange-600 shadow-[10px_10px] shadow-blue-450 rotate-1 hover:-rotate-1' %>
      </div>
    </div>
  </div>
</div>
