<%= content_for :title, 'Morning Brew newsletter' %>
<%= content_for :description, "Read your Morning Brew newsletter and much more" %>

<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 prose">
  <h1><a href="https://www.morningbrew.com/" target="_blank">Morning Brew</a></h1>

  <p>
    Are you tired of receiving a flood of newsletters in your inbox every day? Do you find it hard to keep up with the latest news and trends in your industry? If so, you're not alone. Many people struggle to manage their email subscriptions and end up missing out on valuable content.
  </p>

  <p>
    That's where Morning Brew comes in. This daily newsletter delivers the latest news and insights from the world of business straight to your inbox every morning. With a witty and engaging writing style, Morning Brew makes it easy to stay informed and entertained at the same time.
  </p>

  <p>
    But what if you don't have time to read the newsletter every day? That's where Mailpouch comes in. With our custom email feature, you can subscribe to Morning Brew and other newsletters using a unique email address. Then, you can choose to receive a batch of those newsletters in one email periodically, whether it's weekly, monthly, or on a custom schedule that works for you.
  </p>

  <p>
    By using Mailpouch to manage your Morning Brew subscription, you can ensure that you never miss an issue. Plus, you can read the newsletter at your own pace, without feeling overwhelmed by a flood of emails in your inbox.
  </p>

  <p>
    So why not give Morning Brew a try? With Mailpouch, you can enjoy the newsletter on your own terms and stay up-to-date with the latest news and trends in the world of business. Sign up today and start enjoying the benefits of a more streamlined email inbox.
  </p>
</div>

<div class="py-12 bg-gold-200">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
      <span class="block text-gray-600">Ready to create your mailpouch?</span>
      <span class="block text-blue-450">You’re just a click away!</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to 'Start for Free!', new_user_registration_path, class: 'w-full flex items-center justify-center px-12 py-3 font-medium leading-6 rounded text-white bg-orange-600 shadow-[10px_10px] shadow-blue-450 rotate-1 hover:-rotate-1' %>
      </div>
    </div>
  </div>
</div>
