<div class="">
  <p>Don't forget to sign up to some newsletters using your mailpouch email address to start uncluterring your inbox.</p>

  <br>

  <p>If you already are signed up to some, just sign up again using your new email. You can also check out our newsletter database to find out interesting ones for you!</p>

  <br>
  <u><%= link_to 'Access the database', inbox_index_url, style: '' %></u>
  <br>
  <br>

  <p>Here is your email: <strong><%= @user.mailbox_email_address %></strong></p>
</div>
